<nav>
  <ul>
    <li><a href="{{path('help')}}">Aide</a></li>
    <li><a href="{{path('color')}}">Couleurs</a></li>
    <li><a href="{{path('team')}}">Equipes</a></li>
    <li><a href="{{path('player')}}">Joueurs</a></li>
  </ul>
</nav>
